[Unit]
Description=Garage door opener
After=network.target

[Service]
WorkingDirectory=/home/pi/garage-door-opener-event-driven/backend
ExecStartPre=/usr/bin/git pull
ExecStart=/home/pi/garage-door-opener-event-driven/backend/bin/run.js
Restart=always
User=pi
Environment=DISPLAY=:0
RestartSec=5s


[Install]
WantedBy=multi-user.target